.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 2px 15px 70px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 999;
}

.search-box input{
    width: 23.5rem;
    height: 2.5rem;
    border: none;
    border-radius: 20px;
    padding-left: 3rem;
    background-color: #f2f2f2;
    font-size: 0.844rem;
}

.search-box input::placeholder{
    color: #5c5c5c;
    font-weight: 600;
}

.search-box {
    position: relative;
  }
  
  .input-icon {
    position: absolute;
    top: 50%;
    left: 0.7rem;
    transform: translateY(-50%);
    color: #818181;
  }

  .signin{
    font-weight: 600;
    display: flex;
    margin-top: 10px;
    margin-right: 70px;
  }

  .signin span{
    color: #2f6ce5;
    font-weight: 700;
  }

  .btn-custom{
    border: none;
    font-size: 1.24rem;
    display: flex;
    margin-top: 3px;
    margin-left: -5px;
  }

  li{
    font-size: 0.9rem;
  }

  .card-bottom-1{
    display: flex;
    margin-top: -4px;
    margin-right: 2px;
}

  .card-bottom-1 img{
    height: 2rem;
    width: 2.1rem;
    border-radius: 50%;
}

/* Media Query */
@media screen and (min-width:767px){
      .null{
        display: none;
      }
}

@media screen and (max-width:1091px) {
  .search-box{
    display: none;
  }
}

@media screen and (max-width:767px) {
  .head-text{
    display: none;
  }
    .card-header p{
      display: none;
    }

    .signin{
      margin-right: 10px;
    }

    .header{
      padding-bottom: 26px;
      justify-content: space-between;
    }

    .logo{
      margin-left: -40px;
    }
}
