.home{
    height: 60vh;
    background-image: linear-gradient(180deg, rgba(0, 0, 0, 0.45) 0%, rgba(0, 0, 0, 0.6) 100%), url('../images/home.png');
    background-position: center 50%;
    background-size: cover;
    margin-top: 80px;
}

.home.overlayVisible span{
    color: #a7a7a7;
}

.home.overlayVisible > div > div{
    color: #a7a7a7;
}

.home-text{
    color: #fff;
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 40%;
    left: 20%;
}

.home-text div{
    font-size: 2.5rem;
    font-weight: 700;
}

.home-text span{
    font-size: 1.33rem;
    font-weight: 300;
    padding-top: 7px;
    word-spacing: 1px;
}

/* Media Query */

@media (min-width:1148px) and (max-width:1299px) {
    .home-text div{
        font-size: 3.1vw;
    }

    .home-text span{
        font-size: 1.28rem;
    }
    
}

@media (max-width:1147px){
    .home-text div{
        font-size: 2rem;
        padding-left: 2rem;
    }
    
    .home-text span{
        font-size: 1.1rem;
        padding-left: 2rem;
    }
    
}

@media (max-width:1028px){
    
    .home-text span{
        font-size: 1.1rem;
    }

}


@media (max-width:840px){

    .home-text div{
        font-size: 1.7rem;
        
    }
    
    .home-text span{
        font-size: 1.08rem;
    }
}

@media (max-width: 767px){

    .home-text{
        top: 35%;
        left: 8%;
        
    }
    
}


@media (max-width:659px){
    .home{
        /* height: 73.8vw; */
        height: 76.7vw;
        background-size: 115vw;
        background-repeat: no-repeat;
        background-position: center top;
    }
}




@media (max-width:566px){
    
    .home-text div{
        font-size: 1.5rem;
        
    }
}



